In [5]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
%matplotlib inline

In [25]:
# make sure the csv(s) are in the folder which is in the folder where the Homework is
!head data/Master.csv

playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,deathCountry,deathState,deathCity,nameFirst,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
aardsda01,1981,12,27,USA,CO,Denver,,,,,,,David,Aardsma,David Allan,220,75,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
aaronha01,1934,2,5,USA,AL,Mobile,,,,,,,Hank,Aaron,Henry Louis,180,72,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
aaronto01,1939,8,5,USA,AL,Mobile,1984,8,16,USA,GA,Atlanta,Tommie,Aaron,Tommie Lee,190,75,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
aasedo01,1954,9,8,USA,CA,Orange,,,,,,,Don,Aase,Donald William,190,75,R,R,1977-07-26,1990-10-03,aased001,aasedo01
abadan01,1972,8,25,USA,FL,Palm Beach,,,,,,,Andy,Abad,Fausto Andres,184,73,L,L,2001-09-10,2006-04-13,abada001,abadan01
abadfe01,1985,12,17,D.R.,La Romana,La Romana,,,,,,,Fernando,Abad,Fernando Antonio,220,73,L,L,2010-07-28,2015-10-03,abadf001,abadfe01
abadijo01,1854,11,4,USA,PA,Philadelphia,1905,5,17,USA,NJ,Pemberton,John,Abadie,John W.,192,72,R,R,1875-04-26,1875-06-10,abadj101,abadijo01
abbated01,1877,4,15,USA,PA,Latrobe,1957,1,6,USA,FL,Fort Lauderdale,Ed,Abbaticchio,Edward James,170,71,R,R,1897-09-04,1910-09-15,abbae101,abbated01
abbeybe01,1869,11,11,USA,VT,Essex,1962,6,11,USA,VT,Colchester,Bert,Abbey,Bert Wood,175,71,R,R,1892-06-14,1896-09-23,abbeb101,abbeybe01

In [21]:
!head data/Batting.csv

In [20]:
!head data/Fielding.csv

In [24]:
# load into pandas the csv(s) we will be using
batting = pd.read_csv('data/Batting.csv') # from this file we will use the columns to calculate the (OBP)
salary = pd.read_csv('data/Salaries.csv') # from this file we will find the player's salary based on his player_id
master = pd.read_csv('data/Master.csv') # from this file we will find the player's name from the player_id
fielding = pd.read_csv('data/Fielding.csv') # from this file we will find the player's position from the player_id

In [39]:
master.head()

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,220.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,NaN,NaN,NaN,...,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,...,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,aasedo01,1954.0,9.0,8.0,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01

In [42]:
master[['playerID', 'nameFirst', 'nameLast']]

        playerID nameFirst     nameLast
0      aardsda01     David      Aardsma
1      aaronha01      Hank        Aaron
2      aaronto01    Tommie        Aaron
3       aasedo01       Don         Aase
4       abadan01      Andy         Abad
5       abadfe01  Fernando         Abad
6      abadijo01      John       Abadie
7      abbated01        Ed  Abbaticchio
8      abbeybe01      Bert        Abbey
9      abbeych01   Charlie        Abbey
10     abbotda01       Dan       Abbott
11     abbotfr01      Fred       Abbott
12     abbotgl01     Glenn       Abbott
13     abbotje01      Jeff       Abbott
14     abbotji01       Jim       Abbott
15     abbotku01      Kurt       Abbott
16     abbotky01      Kyle       Abbott
17     abbotod01       Ody       Abbott
18     abbotpa01      Paul       Abbott
19      aberal01        Al         Aber
20     abercda01     Frank  Abercrombie
21     abercre01    Reggie  Abercrombie
22     abernbi01      Bill   Abernathie
23     abernbr01     Brent    Abernathy
24     abernte01       Ted    Abernathy
25     abernte02       Ted    Abernathy
26     abernwo01     Woody    Abernathy
27     aberscl01     Cliff      Aberson
28     ablesha01     Harry        Ables
29     abnersh01     Shawn        Abner
...          ...       ...          ...
18816  zimmejo02    Jordan   Zimmermann
18817  zimmero01       Roy    Zimmerman
18818  zimmery01      Ryan    Zimmerman
18819   zinkch01   Charlie         Zink
18820   zinkwa01    Walter         Zink
18821   zinnfr01     Frank         Zinn
18822   zinngu01       Guy         Zinn
18823   zinnji01     Jimmy         Zinn
18824  zinsebi01      Bill       Zinser
18825  zinteal01      Alan       Zinter
18826  zipfebu01       Bud       Zipfel
18827   ziskri01    Richie         Zisk
18828   zitoba01     Barry         Zito
18829  zitzmbi01     Billy     Zitzmann
18830  zmiched01        Ed        Zmich
18831  zobribe01       Ben      Zobrist
18832  zoccope01     Peter   Zoccolillo
18833  zoldasa01       Sam       Zoldak
18834  zoskyed01     Eddie        Zosky
18835  zuberbi01      Bill        Zuber
18836  zuberjo01       Jon        Zuber
18837  zuletju01     Julio       Zuleta
18838  zumayjo01      Joel       Zumaya
18839  zuninmi01      Mike       Zunino
18840  zupcibo01       Bob       Zupcic
18841   zupofr01     Frank         Zupo
18842  zuvelpa01      Paul      Zuvella
18843  zuverge01    George     Zuverink
18844  zwilldu01     Dutch     Zwilling
18845   zychto01      Tony         Zych

[18846 rows x 3 columns]

In [99]:
# no duplicate playerID
master.duplicated(subset='playerID').any()

False

In [46]:
batting.duplicated(subset='playerID').any()

True

In [50]:
len(batting['playerID'])

101332

In [26]:
batting.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,addybo01,1871,1,RC1,NaN,25,118.0,30.0,32.0,6.0,...,13.0,8.0,1.0,4.0,0.0,NaN,NaN,NaN,NaN,NaN
2,allisar01,1871,1,CL1,NaN,29,137.0,28.0,40.0,4.0,...,19.0,3.0,1.0,2.0,5.0,NaN,NaN,NaN,NaN,NaN
3,allisdo01,1871,1,WS3,NaN,27,133.0,28.0,44.0,10.0,...,27.0,1.0,1.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN
4,ansonca01,1871,1,RC1,NaN,25,120.0,29.0,39.0,11.0,...,16.0,6.0,2.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN

In [ ]:
# to calculate On-Base Percentage = ((H + BB + HBP)/(AB+BB+HBP+SF))

In [36]:
batting[['playerID','H', 'BB', 'HBP', 'AB', 'SF']]

         playerID      H    BB   HBP     AB    SF
0       abercda01    0.0   0.0   NaN    4.0   NaN
1        addybo01   32.0   4.0   NaN  118.0   NaN
2       allisar01   40.0   2.0   NaN  137.0   NaN
3       allisdo01   44.0   0.0   NaN  133.0   NaN
4       ansonca01   39.0   2.0   NaN  120.0   NaN
5       armstbo01   11.0   0.0   NaN   49.0   NaN
6       barkeal01    1.0   1.0   NaN    4.0   NaN
7       barnero01   63.0  13.0   NaN  157.0   NaN
8       barrebi01    1.0   0.0   NaN    5.0   NaN
9       barrofr01   13.0   0.0   NaN   86.0   NaN
10       bassjo01   27.0   3.0   NaN   89.0   NaN
11      battijo01    0.0   1.0   NaN    3.0   NaN
12      bealsto01    7.0   2.0   NaN   36.0   NaN
13      beaveed01    6.0   0.0   NaN   15.0   NaN
14      bechtge01   33.0   2.0   NaN   94.0   NaN
15      bellast01   32.0   9.0   NaN  128.0   NaN
16      berkena01    0.0   0.0   NaN    4.0   NaN
17      berryto01    1.0   0.0   NaN    4.0   NaN
18      berthha01   17.0   4.0   NaN   73.0   NaN
19      biermch01    0.0   1.0   NaN    2.0   NaN
20       birdge01   28.0   3.0   NaN  106.0   NaN
21      birdsda01   46.0   4.0   NaN  152.0   NaN
22      brainas01   30.0   7.0   NaN  134.0   NaN
23      brannmi01    1.0   0.0   NaN   14.0   NaN
24      burrohe01   15.0   1.0   NaN   63.0   NaN
25      careyto01   20.0   2.0   NaN   87.0   NaN
26      carleji01   32.0   8.0   NaN  127.0   NaN
27       conefr01   20.0   8.0   NaN   77.0   NaN
28      connone01    7.0   0.0   NaN   33.0   NaN
29      cravebi01   38.0   3.0   NaN  118.0   NaN
...           ...    ...   ...   ...    ...   ...
101302  wislema01    4.0   2.0   0.0   29.0   0.0
101303  wojcias01    0.0   0.0   0.0    0.0   0.0
101304   wolfra02    0.0   0.0   0.0    0.0   0.0
101305   wongko01  146.0  36.0  15.0  557.0   5.0
101306   woodal02    5.0   3.0   0.0   33.0   0.0
101307   woodal02    4.0   1.0   0.0   22.0   0.0
101308   woodtr01    3.0   2.0   0.0   30.0   0.0
101309  wootero01    0.0   0.0   0.0    1.0   0.0
101310  worleva01    3.0   0.0   0.0   17.0   0.0
101311  wrighda03   44.0  22.0   0.0  152.0   0.0
101312  wrighmi01    1.0   0.0   0.0    2.0   0.0
101313  wrighst01    0.0   0.0   0.0    1.0   0.0
101314  wrighwe01    0.0   0.0   0.0    0.0   0.0
101315  wrighwe01    0.0   0.0   0.0    0.0   0.0
101316  yateski01    0.0   0.0   0.0    0.0   0.0
101317  yelicch01  143.0  47.0   2.0  476.0   0.0
101318   ynoara01   33.0   3.0   0.0  127.0   0.0
101319  youngch03    2.0   0.0   0.0    4.0   0.0
101320  youngch04   80.0  30.0   3.0  318.0   2.0
101321  youngde03   47.0   4.0   1.0  174.0   1.0
101322  younger03   13.0   6.0   0.0   77.0   0.0
101323  younger03    0.0   0.0   1.0    8.0   0.0
101324  zieglbr01    0.0   0.0   0.0    0.0   0.0
101325  zimmejo02   10.0   0.0   0.0   63.0   0.0
101326  zimmery01   86.0  33.0   1.0  346.0  10.0
101327   zitoba01    0.0   0.0   0.0    0.0   0.0
101328  zobribe01   63.0  33.0   0.0  235.0   3.0
101329  zobribe01   66.0  29.0   1.0  232.0   2.0
101330  zuninmi01   61.0  21.0   5.0  350.0   2.0
101331   zychto01    0.0   0.0   0.0    0.0   0.0

[101332 rows x 6 columns]

In [27]:
salary.head()

   yearID teamID lgID   playerID  salary
0    1985    ATL   NL  barkele01  870000
1    1985    ATL   NL  bedrost01  550000
2    1985    ATL   NL  benedbr01  545000
3    1985    ATL   NL   campri01  633333
4    1985    ATL   NL  ceronri01  625000

In [38]:
salary[['playerID', 'salary']]

        playerID    salary
0      barkele01    870000
1      bedrost01    550000
2      benedbr01    545000
3       campri01    633333
4      ceronri01    625000
5      chambch01    800000
6      dedmoje01    150000
7      forstte01    483333
8      garbege01    772000
9      harpete01    250000
10     hornebo01   1500000
11     hubbagl01    455000
12     mahleri01    407500
13     mcmurcr01    275000
14     mumphje01    775000
15     murphda05   1625000
16     oberkke01    616667
17     perezpa01    450000
18     perryge01    120000
19     ramirra01    750000
20     suttebr01   1354167
21     washicl01    800000
22     boddimi01    625000
23     dauerri01    480000
24     davisst02    437500
25     dempsri01    512500
26     dwyerji01    375000
27     flanami01    641667
28      fordda01    450000
29     grosswa01    483333
...          ...       ...
25545  tollest01    517300
25546  barreaa01    514200
25547  cedenxa01    516500
25548  dendema01    512972
25549  desmoia01  11000000
25550  escobyu01   5000000
25551  espinda01   1800000
25552  fistedo01  11400000
25553  gonzagi01  11000000
25554  harpebr03   2500000
25555  janssca01   3500000
25556  johnsre02   1000000
25557  lobatjo01   1200000
25558  moorety01    518200
25559  ramoswi01   3550000
25560  rendoan01   2500000
25561  roarkta01    529600
25562  robincl01    525000
25563  scherma01  17142000
25564   spande01   9000000
25565  stammcr01   2250000
25566  storedr01   5700000
25567  strasst01   7400000
25568  taylomi02    508700
25569  thornma01   3500000
25570  treinbl01    512800
25571  ugglada01    507500
25572  werthja01  21000000
25573  zimmejo02  16500000
25574  zimmery01  14000000

[25575 rows x 2 columns]

In [29]:
fielding.head()

,playerID,yearID,stint,teamID,lgID,POS,G,GS,InnOuts,PO,A,E,DP,PB,WP,SB,CS,ZR
0,abercda01,1871,1,TRO,NaN,SS,1,NaN,NaN,1.0,3.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN
1,addybo01,1871,1,RC1,NaN,2B,22,NaN,NaN,67.0,72.0,42.0,5.0,NaN,NaN,NaN,NaN,NaN
2,addybo01,1871,1,RC1,NaN,SS,3,NaN,NaN,8.0,14.0,7.0,0.0,NaN,NaN,NaN,NaN,NaN
3,allisar01,1871,1,CL1,NaN,2B,2,NaN,NaN,1.0,4.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,allisar01,1871,1,CL1,NaN,OF,29,NaN,NaN,51.0,3.0,7.0,1.0,NaN,NaN,NaN,NaN,NaN

In [56]:
fielding[['playerID', 'POS']]

         playerID POS
0       abercda01  SS
1        addybo01  2B
2        addybo01  SS
3       allisar01  2B
4       allisar01  OF
5       allisdo01   C
6       ansonca01  1B
7       ansonca01  2B
8       ansonca01  3B
9       ansonca01   C
10      ansonca01  OF
11      armstbo01  OF
12      barkeal01  OF
13      barnero01  2B
14      barnero01  SS
15      barrebi01  3B
16      barrebi01   C
17      barrofr01  2B
18      barrofr01  OF
19       bassjo01   C
20       bassjo01  SS
21      battijo01  OF
22      bealsto01  2B
23      bealsto01  OF
24      beaveed01  2B
25      bechtge01  3B
26      bechtge01  OF
27      bechtge01   P
28      bellast01  3B
29      bellast01  SS
...           ...  ..
170496  tomasya01  OF
170497  troutmi01  OF
170498  trumbma01  OF
170499  trumbma01  OF
170500  tuckepr01  OF
170501  uptonbj01  OF
170502  uptonju01  OF
170503  urruthe01  OF
170504  valdejo02  OF
170505  valenda01  OF
170506  vanslsc01  OF
170507  venabwi01  OF
170508  venabwi01  OF
170509  victosh01  OF
170510  victosh01  OF
170511  villajo01  OF
170512  walteza01  OF
170513  weeksri01  OF
170514  werthja01  OF
170515  willima07  OF
170516  willima08  OF
170517  yelicch01  OF
170518   ynoara01  OF
170519  youngch04  OF
170520  youngde03  OF
170521  younger03  OF
170522  younger03  OF
170523  zimmery01  OF
170524  zobribe01  OF
170525  zobribe01  OF

[170526 rows x 2 columns]

In [51]:
# we now can merge all of the files into a new one

In [102]:
baseball_data = pd.merge(pd.merge(pd.merge(batting, fielding), master), salary)

In [90]:
baseball_data[['playerID', 'salary', 'POS','H', 'BB', 'HBP', 'AB', 'SF']]

       playerID   salary POS    H   BB  HBP   AB   SF
0     alexado01   875000   P  NaN  NaN  NaN  NaN  NaN
1     alexado01   700000   P  NaN  NaN  NaN  NaN  NaN
2     alexado01   500000   P  NaN  NaN  NaN  NaN  NaN
3     alexado01  1000000   P  NaN  NaN  NaN  NaN  NaN
4     blylebe01   650000   P  NaN  NaN  NaN  NaN  NaN
5     blylebe01  1450000   P  NaN  NaN  NaN  NaN  NaN
6     blylebe01  1150000   P  NaN  NaN  NaN  NaN  NaN
7     blylebe01  1000000   P  NaN  NaN  NaN  NaN  NaN
8     blylebe01  1225000   P  NaN  NaN  NaN  NaN  NaN
9     blylebe01  1175000   P  NaN  NaN  NaN  NaN  NaN
10    blylebe01   900000   P  NaN  NaN  NaN  NaN  NaN
11    tananfr01   590000   P  NaN  NaN  NaN  NaN  NaN
12    tananfr01   662500   P  NaN  NaN  NaN  NaN  NaN
13    tananfr01   662500   P  NaN  NaN  NaN  NaN  NaN
14    tananfr01  1100000   P  NaN  NaN  NaN  NaN  NaN
15    tananfr01   925000   P  NaN  NaN  NaN  NaN  NaN
16    tananfr01  1100000   P  NaN  NaN  NaN  NaN  NaN
17    gossari01   300000   P  NaN  NaN  NaN  NaN  NaN
18     kernji01    90000   P  NaN  NaN  NaN  NaN  NaN
19    leonade01   871429   P  NaN  NaN  NaN  NaN  NaN
20    leonade01   883333   P  NaN  NaN  NaN  NaN  NaN
21    martiti01   440000   P  NaN  NaN  NaN  NaN  NaN
22    martiti01   487078   P  NaN  NaN  NaN  NaN  NaN
23    ruhleve01   295000   P  NaN  NaN  NaN  NaN  NaN
24    ruhleve01    60000   P  NaN  NaN  NaN  NaN  NaN
25     ryanno01  1800000   P  NaN  NaN  NaN  NaN  NaN
26     ryanno01  1400000   P  NaN  NaN  NaN  NaN  NaN
27     ryanno01  3300000   P  NaN  NaN  NaN  NaN  NaN
28     ryanno01  4200000   P  NaN  NaN  NaN  NaN  NaN
29     ryanno01  3757000   P  NaN  NaN  NaN  NaN  NaN
...         ...      ...  ..  ...  ...  ...  ...  ...
1863  martira02  1500000   P  NaN  NaN  NaN  NaN  NaN
1864  morenor01   200000   P  NaN  NaN  NaN  NaN  NaN
1865  munrope01   200000   P  NaN  NaN  NaN  NaN  NaN
1866  newmaal02   200000   P  NaN  NaN  NaN  NaN  NaN
1867  ortizra01   200000   P  NaN  NaN  NaN  NaN  NaN
1868   penaje01   200000   P  NaN  NaN  NaN  NaN  NaN
1869  persoro01   379000   P  NaN  NaN  NaN  NaN  NaN
1870   potelo01   200000   P  NaN  NaN  NaN  NaN  NaN
1871  ramsaro01   200000   P  NaN  NaN  NaN  NaN  NaN
1872  rigbybr01   201500   P  NaN  NaN  NaN  NaN  NaN
1873  riskeda01   200000   P  NaN  NaN  NaN  NaN  NaN
1874  runyase01   280000   P  NaN  NaN  NaN  NaN  NaN
1875   ryanbj01   200000   P  NaN  NaN  NaN  NaN  NaN
1876   ryanja04   200000   P  NaN  NaN  NaN  NaN  NaN
1877  saundto01   277500   P  NaN  NaN  NaN  NaN  NaN
1878  snydejo02   230000   P  NaN  NaN  NaN  NaN  NaN
1879  spradje01   687500   P  NaN  NaN  NaN  NaN  NaN
1880  steinbl01   207500   P  NaN  NaN  NaN  NaN  NaN
1881  wallade01   216000   P  NaN  NaN  NaN  NaN  NaN
1882  weaveer01   200000   P  NaN  NaN  NaN  NaN  NaN
1883  willito02   201500   P  NaN  NaN  NaN  NaN  NaN
1884  wilsova01   200000   C  0.0  0.0  0.0  0.0  0.0
1885   bakopa01   275000   C  0.0  0.0  0.0  2.0  0.0
1886  lunarfe01   225000   C  0.0  0.0  0.0  0.0  0.0
1887  quirogu01   327500   C  0.0  0.0  0.0  2.0  0.0
1888  tupmama01   390000   C  1.0  0.0  0.0  1.0  0.0
1889   pinama01   480425   C  0.0  0.0  0.0  2.0  0.0
1890  buterdr01   700000   C  0.0  0.0  0.0  3.0  0.0
1891  hestejo01   495000   C  0.0  1.0  0.0  0.0  0.0
1892  lairdge01  1000000   C  0.0  0.0  0.0  2.0  0.0

[1893 rows x 8 columns]

In [86]:
baseball_data = baseball_data.fillna(0)

In [96]:
per_data = baseball_data[['nameFirst','nameLast', 'salary', 'POS','H', 'BB', 'HBP', 'AB', 'SF']]

In [97]:
per_data

      nameFirst   nameLast   salary POS    H   BB  HBP   AB   SF
0         Doyle  Alexander   875000   P  NaN  NaN  NaN  NaN  NaN
1         Doyle  Alexander   700000   P  NaN  NaN  NaN  NaN  NaN
2         Doyle  Alexander   500000   P  NaN  NaN  NaN  NaN  NaN
3         Doyle  Alexander  1000000   P  NaN  NaN  NaN  NaN  NaN
4          Bert   Blyleven   650000   P  NaN  NaN  NaN  NaN  NaN
5          Bert   Blyleven  1450000   P  NaN  NaN  NaN  NaN  NaN
6          Bert   Blyleven  1150000   P  NaN  NaN  NaN  NaN  NaN
7          Bert   Blyleven  1000000   P  NaN  NaN  NaN  NaN  NaN
8          Bert   Blyleven  1225000   P  NaN  NaN  NaN  NaN  NaN
9          Bert   Blyleven  1175000   P  NaN  NaN  NaN  NaN  NaN
10         Bert   Blyleven   900000   P  NaN  NaN  NaN  NaN  NaN
11        Frank     Tanana   590000   P  NaN  NaN  NaN  NaN  NaN
12        Frank     Tanana   662500   P  NaN  NaN  NaN  NaN  NaN
13        Frank     Tanana   662500   P  NaN  NaN  NaN  NaN  NaN
14        Frank     Tanana  1100000   P  NaN  NaN  NaN  NaN  NaN
15        Frank     Tanana   925000   P  NaN  NaN  NaN  NaN  NaN
16        Frank     Tanana  1100000   P  NaN  NaN  NaN  NaN  NaN
17         Rich    Gossage   300000   P  NaN  NaN  NaN  NaN  NaN
18          Jim       Kern    90000   P  NaN  NaN  NaN  NaN  NaN
19       Dennis    Leonard   871429   P  NaN  NaN  NaN  NaN  NaN
20       Dennis    Leonard   883333   P  NaN  NaN  NaN  NaN  NaN
21        Tippy   Martinez   440000   P  NaN  NaN  NaN  NaN  NaN
22        Tippy   Martinez   487078   P  NaN  NaN  NaN  NaN  NaN
23         Vern      Ruhle   295000   P  NaN  NaN  NaN  NaN  NaN
24         Vern      Ruhle    60000   P  NaN  NaN  NaN  NaN  NaN
25        Nolan       Ryan  1800000   P  NaN  NaN  NaN  NaN  NaN
26        Nolan       Ryan  1400000   P  NaN  NaN  NaN  NaN  NaN
27        Nolan       Ryan  3300000   P  NaN  NaN  NaN  NaN  NaN
28        Nolan       Ryan  4200000   P  NaN  NaN  NaN  NaN  NaN
29        Nolan       Ryan  3757000   P  NaN  NaN  NaN  NaN  NaN
...         ...        ...      ...  ..  ...  ...  ...  ...  ...
1863      Ramon   Martinez  1500000   P  NaN  NaN  NaN  NaN  NaN
1864      Orber     Moreno   200000   P  NaN  NaN  NaN  NaN  NaN
1865      Peter      Munro   200000   P  NaN  NaN  NaN  NaN  NaN
1866       Alan     Newman   200000   P  NaN  NaN  NaN  NaN  NaN
1867      Ramon      Ortiz   200000   P  NaN  NaN  NaN  NaN  NaN
1868      Jesus       Pena   200000   P  NaN  NaN  NaN  NaN  NaN
1869     Robert     Person   379000   P  NaN  NaN  NaN  NaN  NaN
1870        Lou       Pote   200000   P  NaN  NaN  NaN  NaN  NaN
1871     Robert     Ramsay   200000   P  NaN  NaN  NaN  NaN  NaN
1872       Brad      Rigby   201500   P  NaN  NaN  NaN  NaN  NaN
1873      David      Riske   200000   P  NaN  NaN  NaN  NaN  NaN
1874       Sean     Runyan   280000   P  NaN  NaN  NaN  NaN  NaN
1875      B. J.       Ryan   200000   P  NaN  NaN  NaN  NaN  NaN
1876      Jason       Ryan   200000   P  NaN  NaN  NaN  NaN  NaN
1877       Tony   Saunders   277500   P  NaN  NaN  NaN  NaN  NaN
1878       John     Snyder   230000   P  NaN  NaN  NaN  NaN  NaN
1879      Jerry   Spradlin   687500   P  NaN  NaN  NaN  NaN  NaN
1880      Blake      Stein   207500   P  NaN  NaN  NaN  NaN  NaN
1881      Derek    Wallace   216000   P  NaN  NaN  NaN  NaN  NaN
1882       Eric     Weaver   200000   P  NaN  NaN  NaN  NaN  NaN
1883       Todd   Williams   201500   P  NaN  NaN  NaN  NaN  NaN
1884      Vance     Wilson   200000   C  0.0  0.0  0.0  0.0  0.0
1885       Paul       Bako   275000   C  0.0  0.0  0.0  2.0  0.0
1886   Fernando      Lunar   225000   C  0.0  0.0  0.0  0.0  0.0
1887  Guillermo     Quiroz   327500   C  0.0  0.0  0.0  2.0  0.0
1888       Matt     Tupman   390000   C  1.0  0.0  0.0  1.0  0.0
1889      Manny       Pina   480425   C  0.0  0.0  0.0  2.0  0.0
1890       Drew     Butera   700000   C  0.0  0.0  0.0  3.0  0.0
1891       John     Hester   495000   C  0.0  1.0  0.0  0.0  0.0
1892     Gerald      Laird  1000000   C  0.0  0.0  0.0  2.0  0.0

[1893 rows x 9 columns]

In [103]:
# let's create a function to find the player's OBP
def calculate_player_obp(H, HBP, BB, AB, SF):
   dividend = H + BB + HBP 
   divisor = AB + BB + HBP + SF
   obp = dividend / divisor 
   return obp

In [104]:
# a function that shows per dollar of investment; the fraction of a percent of OBP per dollar spent
def money_ball(OBP, salary):
   return OBP / salary